jadx/LICENSE
jadx/README.md
jadx/bin/jadx
jadx/bin/jadx-gui
jadx/bin/jadx-gui.bat
jadx/bin/jadx.bat
jadx/lib/jadx-1.5.1-all.jar
lsposed_module/magicwindow.keystore
lsposed_module/app/build.gradle.kts

